<!DOCTYPE html>
<html lang="en" ng-app="incidencias">
	<head>
        <meta charset="utf-8"/>
		<title></title>	<!-- Define the versions of IE that will be used to render the page. See Microsoft documentation for details. Optional. -->
    	
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<!-- Responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<!-- End Responsive -->
		<!-- Use protocol relative urls that way if the browser is viewing the page via HTTPS the js/css file will be requested using the HTTPS protocol -->
		<link rel="stylesheet" href="//js.arcgis.com/3.12/esri/css/calcite/calcite.css">
	
        <link rel="stylesheet"  href="//js.arcgis.com/3.12/esri/css/esri.css">
		<!-- Load any application specific styles -->
		<link rel="stylesheet" href="css/styles.css">
		<!--[if IE 8]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="css/nuevosWidgets.css">
	</head>
	<body class="calcite app-loading no-touch">
		<!-- Loading Indicator -->
		<div class="loading-indicator">
			<div class="loading-message" id="loading_message"></div>
		</div>
        


		<!-- Map -->
		<!-- The ArcGIS API for JavaScript provides bidirectional support.  When viewing the application in an right to left (rtl) language like Hebrew and Arabic the map needs to remain in left-to-right (ltr) mode. Specify this by setting the dir attribute on the div to ltr. -->
		<div id="mapDiv" dir="ltr">

         <!-- Formulario incidencias -->
            <div id="incidenciasForm" ng-controller="incidenciasController as incidencia">
                <div class="pageHeader bg roundedTop">
                    <div id="TituloIncidencia" class="fc" style="color: rgba(255, 255, 255, 0.9); padding-top:30px">Panel de Incidencias</div>
                </div>
                <div class="pageBody">                    
                    <div class="contenedor">
                        <form name="inciForm" ng-submit="inciForm.$valid && crearincidencia()" novalidate>
                        <div class="control-group" ng-class="{true: 'error'}[submitted && inciForm.email.$invalid]">
                            <fieldset class="form-group" style="width:140px; float:left">
                                <label>Autor:</label>
                                <div class="controls">
                                    <input name="autor" type="text" ng-model="Autor" class="form-control" required/>
                                    <span class="help-inline" ng-show="submitted && inciForm.autor.$error.required">Olvidaste mencionar al Autor...</span>
                                </div>
                            </fieldset>

                            <fieldset class="form-group" style="width:350px; padding-left:80px">
                                <label>Fecha:</label>
                                <div class="row" ng-controller="DatepickerDemoCtrl">
                                <div class="col-md-6">
                                        <p class="input-group">
                                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar" ></i></button>
                                            <div class="controls">
                                            <input name="date" type="date" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="date" is-open="opened" datepicker-options="dateOptions" close-text="Close" required/>
                                                <span class="help-inline" ng-show="submitted && inciForm.date.$error.required">Olvidaste la fecha...</span>
                                                <span class="help-inline" ng-show="submitted && inciForm.date.$error.date">Fecha no v&aacute;lida</span>
                                            </div>                           
                                        </p>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" style="width:360px;float:left">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Problema:</label>
                                        <div class="controls">
                                            <select name="problema" class="form-control" ng-model="problema" ng-options="problem for problem in problemas" required><option></option></select>
                                            <span class="help-inline" ng-show="submitted && inciForm.problema.$error.required">Selecciona un problema...</span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" style="width:150px">
                                <div class="row">
                                        <label>Matr&iacute;cula:</label>
                                        <div class="controls">
                                            <select name="matricula" class="form-control" ng-model="Matricula" ng-options="matricula for matricula in matriculas" required><option></option></select>
                                        <span class="help-inline" ng-show="submitted && inciForm.matricula.$error.required">Selecciona una matr&iacute;cula...</span>
                                        </div>
                                </div>
                             </fieldset>                 
                             <fieldset class="form-group" >
                                <label>Soluci&oacute;n:</label>
                                <div class="controls">
                                    <input name="solucion" type="text" ng-model="Solucion" class="form-control" required/>
                                    <span class="help-inline" ng-show="submitted && inciForm.solucion.$error.required">Olvidaste describir la soluci&oacute;n...</span>
                                </div>
                             </fieldset>
                            </div>

                            <div style="text-align:center; margin-left:auto; margin-right:auto">
                             <fieldset class="form-group">
                                <input class="btn btn-primary pull-right" type="submit" value="Submit" ng-click="submitted=true" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        

		<!-- Panel Content -->
		<div id="panelContent">
			<div id="panelPages"></div>
		</div>
               

		<!-- Panel Top -->
		<div id="panelTop" class="bg rounded shadow">
			<!-- Panel Title -->
			<div id="panelTitle">
				<div class="fc" id="panelText">
					
				</div>
				<div id="panelSearch">
					<div id="panelGeocoder"></div>
				</div>
				<div id="panelMenu" class="icon-menu icon-color"></div>
			</div>

			<!-- Panel Tools -->
			<div id="panelTools">
				<!--Tools are created programatically-->
			</div>

		</div>

		<script type="text/javascript">
         var package_path = window.location.pathname.substring(0, window.location.pathname.lastIndexOf('/'));
         var dojoConfig = {
            // The locationPath logic below may look confusing but all its doing is
            // enabling us to load the api from a CDN and load local modules from the correct location.
            packages : [{
               name : "application",
               location : package_path + '/js'
            }, {
               name : "config",
               location : package_path + '/config'
            }]
         };
		</script>
		<script type="text/javascript" src="//js.arcgis.com/3.12/"></script>
		<script type="text/javascript">
         require(["application/template", "application/main"], function(Template, Main) {
            // create the template. This will take care of all the logic required for template applications
            var myTemplate = new Template();
            var myApp = new Main();
            myTemplate.startup().then(function(config) {
               myApp.startup(config);
            }, function(error) {
               // something went wrong. Let's report it.
               myApp.reportError(error);
            });
         });
		</script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-messages.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/ui-bootstrap-tpls-0.12.0.min.js" type="text/javascript"></script>
        <script src="js/incidenciasForm.js" type="text/javascript"></script>
        <script>
            function _Popup(id, map) {

                var tb;
                console.log(map);
                require(["esri/toolbars/draw"], function(){
                    tb = new esri.toolbars.Draw(drawmap);
                    tb.on("draw-end", _DrawResults);
                    tb.activate(esri.toolbars.Draw.POINT);
                });

                function _DrawResults(evt) {
                    require([
                    "esri/Color",
                    "esri/graphic",
                    "esri/symbols/SimpleLineSymbol",
                    "esri/symbols/SimpleMarkerSymbol"
                    ],
                    function (Color, Graphic, SimpleLineSymbol, SimpleMarkerSymbol) {

                        tb.deactivate();

                        if (dojo.byId('incidenciasForm').style.display == "block") {
                            dojo.byId('incidenciasForm').style.display = "none";
                        }

                        else {
                            dojo.byId('incidenciasForm').style.display = "none";
                        }

                        // add the drawn graphic to the map
                        var geometry = evt.geometry;

                        var symbol = new SimpleMarkerSymbol(
                            SimpleMarkerSymbol.STYLE_CIRCLE,
                            12,
                            new SimpleLineSymbol(
                            SimpleLineSymbol.STYLE_NULL,
                            new Color([0, 0, 255, 0.9]),
                            1
                            ),
                            new Color([0, 0, 255, 0.5])
                        );

                        var graphicpoint = new Graphic(geometry, symbol);
                        map.graphics.add(graphicpoint);
                        console.log(map.graphics);

                        _Popup(id, geometry);

                    });

                }

                function _Popup(id, geometry) {
                    
                    if (dojo.byId(id).style.display == "none") {
                        dojo.byId(id).style.display = "block";

                    }

                    else {
                        dojo.byId(id).style.display = "none";
                    }
                }


            }
        </script>
	</body>
</html>
