<div class="buscadorDialogClass" role="presentation">
    <div data-dojo-attach-point="_dialogNode">
        <div class="${css.buscadorDialogContent}" id="buscadorDialogDiv">

            <div data-dojo-attach-point="_layersNode" id="buscadorButton" style="margin:10px">
                <form id="formbusquedapanel">
                    <input class="myradiobuttons" type="radio" name="busqueda" id="radioOne" value="Carretera"/> <label for="radioOne">Buscar por Carretera</label> <br />
                    <input class="myradiobuttons" type="radio" data-dojo-type="dijit/form/RadioButton" name="busqueda" id="radioTwo" value="CarreterayPK"/> <label for="radioTwo">Buscar por Carretera y PK</label> <br />
                    <input class="myradiobuttons" type="radio" data-dojo-type="dijit/form/RadioButton" name="busqueda" id="radioThree" value="Poblacion"/> <label for="radioTwo">Buscar por Poblacion</label> <br />
                    <input class="myradiobuttons" type="radio" data-dojo-type="dijit/form/RadioButton" name="busqueda" id="radioFour" value="Coordenadas"/> <label for="radioTwo">Buscar por Coordenadas</label> <br />
                </form>
            </div>
            <!--script>
                require([
                    "dojo/parser",
                    "dijit/form/RadioButton",
                    "dijit/form/Button", // used for example purpose
                    "dojo/domReady!"
                    ], function(parser, RadioButton){
                        console.log(parser);
                        parser.parse();
                        var radioOne = new RadioButton({
                            checked: true,
                            value: "Carretera",
                            name: "drink",
                        }, "radioOne").startup();
                });
            </script-->

            

        </div>
    </div>
</div>
